# Patterns of intentionally untracked files that Git should ignore

# Build
main
*.bc
*.o
main.wasm

# Roc
roc_nightly*

# Devenv and direnv
.devenv*
devenv.local.nix
.direnv

# Tools
.task

# pre-commit
.pre-commit-config.yaml

# IDE
.vscode/
